
Host 3090ti-1
	HostName 210.28.135.34
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host 3090ti-2
	HostName 210.28.135.91
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-01
	HostName 210.28.133.13
	Port 20080
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-02
	HostName 210.28.133.13
	Port 20687
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-03
	HostName 210.28.133.13
	Port 20227
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-11
	HostName 210.28.133.13
	Port 20638
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-12
	HostName 210.28.133.13
	Port 20658
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-13
	HostName 210.28.133.13
	Port 20659
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-21
	HostName 210.28.133.13
	Port 20641
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-22
	HostName 210.28.133.13
	Port 20644
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-23
	HostName 210.28.133.13
	Port 20642
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-31
	HostName 210.28.133.13
	Port 20645
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-32
	HostName 210.28.133.13
	Port 20646
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-33
	HostName 210.28.133.13
	Port 20647
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-51
	HostName 210.28.133.13
	Port 21469
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host V100-52
	HostName 210.28.133.13
	Port 21472
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}
	
Host rtx
	HostName 210.28.134.152
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host 1080ti-5
	HostName  210.28.132.174
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host 1080ti-6
	HostName  210.28.132.175
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host 2080ti-1
	HostName  210.28.134.54
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host 2080ti-2
	HostName  210.28.134.55
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

Host Titan-1
	HostName  114.212.189.235
	User {{ .name2 }}
	IdentityFile ~{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .encrypt2 }}

